#experience {
    padding: 10px;
}

.experience-company {
    font-size: 1.1em;
    font-weight: bold;
}
.experience-dates {
    font-style: italic;
    color: rgb(195, 55, 55);
    font-size: 0.8em;
    margin-bottom: 3px;
}
.experience-description {
    font-size: 0.9em;
    color: rgb(195, 172, 55);
}
.experience-item {
    padding-left: 15px;
    margin-bottom: 20px;
}
.experience-role {
    font-size: smaller;
}